.netflix {
  width: 100%;
  height: 43rem;
  margin: 0 auto;
  z-index: 1;
  position: relative;
  background-image: linear-gradient(
    7deg,
    rgba(0, 0, 0, 0.85) 10%,
    rgba(0, 0, 0, 0.8465) 17.25%,
    rgba(0, 0, 0, 0.8361) 24.5%,
    rgba(0, 0, 0, 0.8187) 31.75%,
    rgba(0, 0, 0, 0.7944) 39%,
    rgba(0, 0, 0, 0.7632) 46.25%,
    rgba(0, 0, 0, 0.725) 53.5%,
    rgba(0, 0, 0, 0.6868) 60.75%,
    rgba(0, 0, 0, 0.6556) 68%,
    rgba(0, 0, 0, 0.6312) 75.25%,
    rgba(0, 0, 0, 0.6139) 82.5%,
    rgba(0, 0, 0, 0.6035) 89.75%,
    rgba(0, 0, 0, 0.6) 97%
  );
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif;
}

.netflix-container {
  width: 100%;
  margin: 0 auto;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0.7889) 8.333%,
    rgba(0, 0, 0, 0.7556) 16.67%,
    rgba(0, 0, 0, 0.7) 25%,
    rgba(0, 0, 0, 0.6222) 33.33%,
    rgba(0, 0, 0, 0.5222) 41.67%,
    rgba(0, 0, 0, 0.4) 50%,
    rgba(0, 0, 0, 0.2778) 58.33%,
    rgba(0, 0, 0, 0.1778) 66.67%,
    rgba(0, 0, 0, 0.1) 75%,
    rgba(0, 0, 0, 0.04444) 83.33%,
    rgba(0, 0, 0, 0.01111) 91.67%,
    rgba(0, 0, 0, 0) 100%
  );
}

/* Netflix Header */

.netflix-header {
  width: 75%;
  height: 7.5rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.netflix-header__text {
  width: 10rem;
}

.netflix-language {
  width: 14rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.netflix-header__button {
  width: 5rem;
  height: 2rem;
  background: red;
  color: #ffff;
  border: 1px solid red;
  border-radius: 0.3rem;
}

/* Netflix Section */

.netflix-section {
  width: 80%;

  padding-top: 6rem;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.netflix-section__title {
  padding: 1rem;
  font-size: 3.5rem;
  color: rgb(255, 255, 255);
  font-weight: bolder;
}

.netflix-section__text-starts {
  padding-bottom: 1rem;
  font-size: 1.25rem;
  color: rgb(255, 255, 255);
  font-weight: 800;
}

.netflix-section__text {
  padding: 1rem;
  font-size: 1rem;
  font-weight: 500;
  color: rgb(255, 255, 255);
}

.netflix-email {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Netflix footer */

.trending-banner {
  width: 100%;
  height: 5rem;
  color: white;
  font-size: 1.5rem;
  margin-top: 5.12rem;
  padding-top: 2rem;
  padding-left: 10rem;
  text-align: left;
  position: relative;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  border-bottom: none;
  background: radial-gradient(
      50% 500% at 50% -420%,
      rgba(64, 97, 231, 0.4) 80%,
      rgba(0, 0, 0, 0.1) 100%
    ),
    black;
}
/* @media (min-width: 1280px) {
  .trending-banner {
    width: 130%;
    left: -15%;
  }
} */

.trending-banner::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin-top: -0.25rem;
  border-radius: inherit;
  background: linear-gradient(
    to right,
    rgba(33, 13, 22, 1) 16%,
    rgba(184, 40, 105, 1),
    rgba(229, 9, 20, 1),
    rgba(184, 40, 105, 1),
    rgba(33, 13, 22, 1) 84%
  );
}
